.wp_caption {
  /* position: relative; */
  padding-top: 1rem;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: url(background1.png) no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 41rem;
}




.wp_caption:after {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  width: 100%;

}

.wp_caption_text {
  
  width: 100%;
  color: #fff;
  text-align: center;
  

}



.lineUp {
  animation: 3s anim-lineUp ease-out;
  font-size: 4rem;
  border: black;
  color: #fff;

}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}



.lineUp2 {
  animation: 3s anim-lineUp ease-out;
  font-size: 3.8rem;
  border: black;
  color: #fff;

}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}

.lineUp3 {
  animation: 3s anim-lineUp ease-out;
  font-size: 13px;
  border: black;
  color: #afafaf;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}

.button_21 {
  animation: 3s anim-lineUp ease-out;
  align-items: center;
  appearance: none;
  background-color: #fb3f63;
  background-image: linear-gradient(1deg, #fb3f63, #fb3f63 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1.2rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 2rem;
}



.button_22 {
  animation: 3s anim-lineUp ease-out;
  align-items: center;
  appearance: none;
  background-color: #686868;
  background-image: linear-gradient(1deg, #686868, #686868 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1.2rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .lineUp {
    font-size: 2.5rem;
  }
  .lineUp2 {
    font-size: 2.3rem;
  }

  .wp_caption {
    /* position: relative; */
    padding-top: 0.9rem;
    height: 34rem;
  }
  }