.allslide {
	/* animation: 3s anim-lineUp ease-out; */
	align-items: center;
	display: block;
	justify-content: center;
	animation: 3s anim-lineUp ease-out;
	position: absolute;
	width: 100%;
	margin-top:4rem;
	/* max-height: 25rem; */
}




@keyframes scroll {
	0% {
		transform: translateX(calc(-250px * 5));
	}

	100% {
		/* speed */
		transform: translateX(0) 
	}
}




.slider {
	/* animation: 10s anim-lineRight ease-out; */
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	/* height: 100px; */
	margin: auto;
	overflow: hidden;
	
	width: 100%;
}

@keyframes anim-lineRight {
	0% {
	  opacity: 0;
	  transform: translateX(-80%);
	}
  
	20% {
	  opacity: 0;
	}
  
	50% {
	  opacity: 1;
	  transform: translateX(0%);
	}
  
	100% {
	  opacity: 1;
	  transform: translateX(0%);
	}
  
  }



.slider::before,
.slider::after {
	background: linear-gradient(to right, 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	/* height: 100px; */
	position: absolute;
	width: 20rem;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide_track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slide_track:hover {
	
	position: absolute
}

.allslide:hover{
	animation: none;
	margin-top:5rem;
}

.slide {
	height: 10rem;
	width: 7rem;
}

.button_22 {
	align-items: center;
	appearance: none;
	background-size: calc(100% + 20px) calc(100% + 20px);
	border-radius: 100px;
	border-width: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-flex;
	font-family: CircularStd, sans-serif;
	font-size: 0.7rem;
	height: auto;
	justify-content: center;
	line-height: 1;
	padding: 6px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: background-color .2s, background-position .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
	margin-right: 1rem;
}